<h1>New Book</h1>
<%= bootstrap_form_for :book do |form| %>
  <%= form.text_field :title, class: "input-lg" %>
  <%= form.text_field :author, class: "input-lg" %>
  <%= form.submit "Add Book", class: "btn btn-block btn-lg btn-primary" %>
<% end %>