/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 */
@import "books";
@import "questions";
@import "sessions";
@import "user_home";
@import "users";
@import "welcome";
@import "bootstrap";
@import "bootstrap-table";

body {
  background-color: #f8f8f8;
}

.btn-primary {
  background-color: #762228;
  border-color: #762228;
}

.btn-primary:hover {
  background-color: #43161c;
  border-color: #762228;
}

.btn-primary:not(:disabled):not(.disabled):active {
  background-color: #43161c;
  border-color: #762228;
}

a {
  color: #3572b0;
}

.button-img {
  max-height: 30px;
  max-width: 30px;
  margin: 5%;
  cursor: pointer;
}

.button-img:hover {
  filter: brightness(75%);
}

.right {
  position: absolute;
  right: 0;
  padding: 2vh;
}

.alert {
  margin: 2vh;
  width: 100%;
}

.icon-group {
  width: 100%;
  display: inline-grid;
  grid-template-columns: repeat(auto-fit, minmax(10vw, 1fr));
  .icon {
    cursor: pointer;
    padding: 5px;
    width: 10vw;
    margin: 1vh;
    .icon-img {
      width: 60%;
      margin-left: 20%;
      margin-right: 20%;
    }
    .icon-text {
      width: 100%;
      text-align: center;
    }
    .icon-button {
      min-width: 100%;
    }
  }
  .icon:hover {
    border: solid #006dcc;
  }

  .navbar-custom {
    background-color:#229922;
    color:#ffffff;
    border-radius:0;
  }

  .navbar-custom .navbar-nav > li > a {
    color:#fff;
  }

  .navbar-custom .navbar-nav > .active > a {
    color: #ffffff;
    background-color:transparent;
  }

  .navbar-custom .navbar-nav > li > a:hover,
  .navbar-custom .navbar-nav > li > a:focus,
  .navbar-custom .navbar-nav > .active > a:hover,
  .navbar-custom .navbar-nav > .active > a:focus,
  .navbar-custom .navbar-nav > .open >a {
    text-decoration: none;
    background-color: #33aa33;
  }

  .navbar-custom .navbar-brand {
    color:#eeeeee;
  }
  .navbar-custom .navbar-toggle {
    background-color:#eeeeee;
  }
  .navbar-custom .icon-bar {
    background-color:#33aa33;
  }

}

