// Place all the styles related to the questions controller here.
// They will automatically be included in application.scss.
// You can use Sass (SCSS) here: http://sass-lang.com/
.question-card-body {
  height: 60vh;
  width: 100%;
  //width: 50vw;
  padding: 1vw;
  //position: relative;
  //left: 17vw;
  //top: 0;
  //margin: 1vw;
  border: thin solid lightgrey;
  background-color: white;
  cursor: pointer;
  .card-text {
    width: 60%;
    text-align: center;
    font-size: xx-large;
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(0, -50%);
  }
}
