<div class="grid-item icon" id="<%= icon[0] %>">
  <% if icon[2] %>
    <%= image_tag(icon[2], :class => 'icon-img') %>
  <% end %>
  <div class="icon-text"><%= icon[1] %></div>
  <button class="icon-button btn btn-block btn-md btn-primary">Submit</button>
</div>